@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSansCondensed-Light.ttf");
}

@font-face {
    font-family: "Mulish";
    src: url("fonts/Mulish-SemiBold.ttf");
}

:root {
    --gradient: rgba(0, 0, 0, 0.4);
    --hero_text-color: #5e5e5e;
    --nav_text-color: #5e5e5e;
    --nav_brand-text-color: #7e7d7d;
    --nav_text-color_hover: #5986db;
    --container-background: #e7e7e7;
    --h4_color: #222222fb;
    --icon_color: #c9c9c9;
    --pnl-shadow: #2f4a6d75;
    --white: #ffffff;
}

body,
html {
    height: 100% !important;
    margin: 0 !important;
    columns: var(--h4_color) !important;
    font-family: "Open Sans" !important;
}

a {
    font-family: "Open Sans" !important;
    color: var(--nav_text-color) !important;
    font-size: 1.7rem;
    text-decoration: none;
}

a:hover {
    color: var(--nav_text-color_hover) !important;
    font-size: 1.9rem !important;
    text-shadow: none !important;
}

h2 {
    text-transform: uppercase !important;
}

button {
    background: #2163ae !important;
    color: #ffffff !important;
    font-size: 1.9rem !important;
}

button:hover {
    background: #d82158 !important;
    color: #ffffff !important;
    font-size: 2.1rem !important;
    border: solid 1px #ffffff;
}

.navbar {
    background: #ffffff !important;
    box-shadow: none !important;
    border: none !important;
    margin: 0px !important;
}

.navbar a {
    text-transform: uppercase !important;
}

.navbar-brand {
    font-size: 1.8rem !important;
    font-family: "Mulish" !important;
    color: var(--nav_brand-text-color) !important;
}

.hero-image {
    /* background-image: linear-gradient( var(--gradient), var(--gradient)), url("images/hero1.jpg"); */
    background-image: url("images/hero.jpg");
    height: 100% !important;
    width: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative !important;
    overflow: hidden;
}

.hero-text {
    text-align: center !important;
    position: absolute !important;
    top: 35% !important;
    left: 45% !important;
    transform: translate(-35%, -45%) !important;
    color: var(--hero_text-color) !important;
    font-size: 6vmin !important;
}

.hero-text p {
    font-size: 4vmin !important;
    color: var(--hero_text-color) !important;
}

.pnl-bkgd-1 {
    padding: 5vmin !important;
    color: var(--h4_color) !important;
    background: linear-gradient( var(--gradient), var(--gradient)), url("images/background1.jpg");
    width: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

.pnl-bkgd-1 h2,
.pnl-bkgd-1 h4,
.pnl-bkgd-1 p {
    color: var(--white) !important;
}

.panel-dark {
    padding: 5vmin !important;
    color: var(--h4_color) !important;
    background: linear-gradient(45deg, #dfdede 0%, #a7a7a7 100%) !important;
    box-shadow: 0 4px 8px 0 var(--pnl-shadow), 0 2px 10px 0 var(--pnl-shadow) !important;
    width: 98% !important;
    margin: 1% !important;
}

.card-panel {
    margin: 1% !important;
    padding: 2% !important;
    background: transparent !important;
    box-shadow: 0 2px 4px 0 var(--pnl-shadow), 0 1px 5px 0 var(--pnl-shadow) !important;
    width: 95% !important;
    overflow: hidden;
}

.icon {
    font-size: 4rem !important;
    color: var(--icon_color) !important;
}

.icon-red {
    color: #c23f3f !important;
}

.icon-blue {
    color: #3d5fcc !important;
}

.icon-green {
    color: #44c594 !important;
}

.icon-yellow {
    color: #ccca4d !important;
}

.icon-purple {
    color: #c5479b !important;
}

.icon-orange {
    color: #eca73f !important;
}

.icon-black {
    color: #2c2c2b !important;
}

.project {
    margin: 0.8rem !important;
    width: 95% !important;
    margin-left: 2.5% !important;
    background: transparent !important;
    padding: 2rem !important;
    border-bottom: 1px solid var(--pnl-shadow);
}

.project img {
    border-radius: 5px !important;
    border: 2px solid var(--hero-color2) !important;
}


.project p,
h3 {
    color: var(--font-color-dk) !important;
    font-size: large !important;
}

.project h3 {
    color: var(--hero-color1) !important;
    text-shadow: 1.2px 1.2px var(--shadow) !important;
    font-size: 2.2rem !important;
    text-transform: uppercase !important;
}

.project iframe{ border-radius: 10px !important; }

.app {
    width: 15rem !important;
    height: 24rem !important;
}

.desktop {
    width: 35rem !important;
    height: 35rem !important;
}

.page {
    width: 45rem !important;
    height: 20rem !important;
}

.game {
    width: 25rem !important;
    height: 20rem !important;
}

.label {
    margin-left: 0.5rem !important;
}

.label>a {
    color: azure !important;
    transition: 1s ease;
    text-decoration: none !important;
}

.label>a:hover {
    color: azure !important;
    font-size: 1.5rem;
    text-decoration: none !important;
}

.label-java {
    background-color: #c23f3f !important;
}

.label-html5 {
    background-color: #e44d26 !important;
}

.label-firebase {
    background-color: #f5830f !important;
}

.label-javascript {
    background-color: #fdd83c !important;
    color: #333333 !important;
}

.label-unity {
    background-color: #333333 !important;
}

.label-lime {
    background-color: #546825 !important;
}

.label-android {
    background-color: #5cb85c !important;
}

.label-rest {
    color: #f2f2f2 !important;
    background-color: #009fc7 !important;
}

.label-ccs {
    background-color: #2163ae !important;
}

.label-angular {
    background-color: #dd0031 !important;
}

.arrow {
    color: #f2f2f2 !important;
    font-size: 40px !important;
    animation: float-vertical 1.5s ease-in-out infinite !important;
}

.separator-sm {
    margin-top: 2rem !important;
}

.separator {
    margin-top: 10rem !important;
}

.separator-bg {
    margin-top: 20rem !important;
}

.footer {
    border-radius: 5px 5px 0px 0px !important;
    padding: 10px !important;
    padding-top: 15px !important;
    background: #313131 !important;
    background: linear-gradient(145deg, #4b4b4b 0%, #313131 100%) !important;
    color: #e4e1e1 !important;
}


/* Animations */

.fade-in {
    animation: fade-in 1.2s ease !important;
}

.slide-left {
    animation: slide-left 1s ease;
}

.scale {
    animation: scale 1.5s ease-in-out;
}

.float-horizontal {
    animation: float-horizontal 1.5s ease-in-out infinite;
}

.float-vertical {
    animation: float-vertical 1.5s ease-in-out infinite;
}

@keyframes slide-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(0%);
        display: block;
    }
    100% {
        transform: translateX(-100%);
        display: block;
    }
}

@keyframes scale {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.01);
    }
}

@keyframes float-horizontal {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes float-vertical {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {}