@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSansCondensed-Light.ttf");
}

@font-face {
    font-family: "Mulish";
    src: url("fonts/Mulish-SemiBold.ttf");
}

:root {
    --gradient: rgba(0, 0, 0, 0.4);
    --hero_text-color: #5e5e5e;
    --nav_text-color: #5e5e5e;
    --nav_brand-text-color: #7e7d7d;
    --nav_text-color_hover: #a1b352;
    --container-background: #e7e7e7;
    --button-color: #1b1b1b;
    --button-color-hover: #a1b352;
    --dark-font_color: #222222fb;
    --hr: #64646442;
    --icon_color: #c9c9c9;
    --pnl-shadow: #2f4a6d75;
    --pnl-shadow-dark: #4e4e4e42;
    --pnl-shadow-light: #c2c2c275;
    --white: #ffffff;
    --brown: #d1ae92;
    --nav_ham: #1b1b1b;
    --footer: #1b1b1b;
}

body,
html {
    height: 100% !important;
    margin: 0 !important;
    columns: var(--dark-font_color) !important;
    font-family: "Open Sans" !important;
    background: var(--white);
}

a {
    font-family: "Open Sans" !important;
    color: var(--nav_text-color) !important;
    font-size: 1.7rem;
    text-decoration: none;
    transform: scale(1) !important;
    transition: 0.5s ease-in-out !important;
}

a:hover {
    color: var(--nav_text-color_hover) !important;
    transform: scale(1.2) !important;
    transition: 0.5s ease-in-out !important;
    text-shadow: none !important;
    text-decoration: none !important;
}

h2 { text-transform: uppercase !important; }

button {
    background: var(--button-color) !important;
    color: var(--white) !important;
    font-size: 1.6rem !important;
    padding-right: 10% !important; padding-left: 10% !important;
    border-radius: 10px !important;
    transition: 0.5s ease-in-out;
    transform: scale(1);
    box-shadow: 0 2px 4px 0 var(--pnl-shadow-dark), 0 1px 5px 0 var(--pnl-shadow-dark) !important;
}

button:hover {
    background: var(--button-color-hover) !important;
    color: var(--button-color) !important;
    border: solid 1px var(--button-color);
    transition: 0.5s ease-in-out;
    font-size: 1.7rem !important;
    transform: scale(1.1);
}

hr{ border: solid 1px var(--hr); }

.navbar {
    background: var(--white) !important;
    box-shadow: none !important;
    border: none !important;
    margin: 0px !important;
}

.navbar a { text-transform: uppercase !important; }

.navbar img {
    width: 16px !important; height: 16px !important;
    display: inline-block !important;
    margin: 0px !important; padding: 0px !important;
    -webkit-filter: grayscale(90%) !important;
    filter: grayscale(90%) !important;
}

.navbar-brand {
    font-size: 1.8rem !important;
    font-family: "Mulish" !important;
    color: var(--nav_brand-text-color) !important;
}

.hero-image {
    background-image: url("images/hero.png");
    height: 100% !important; width: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
    position: relative !important;
    overflow: hidden;
}

.hero-text {
    text-align: center !important;
    margin-top: 13% !important;
    color: var(--hero_text-color) !important;
    font-size: 6vmin !important;
}

.hero-text p {
    font-size: 4vmin !important;
    color: var(--hero_text-color) !important;
}

.pnl-bkgd-1 {
    padding: 5vmin !important;
    color: var(--h4_color) !important;
    background: linear-gradient( var(--gradient), var(--gradient)), url("images/background1.jpg");
    width: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

.pnl-bkgd-1 h2,
.pnl-bkgd-1 h4,
.pnl-bkgd-1 p {
    color: var(--white) !important;
}

.card-panel {
    margin: 1% !important;
    padding: 2% !important;
    background: transparent !important;
    box-shadow: 0 2px 4px 0 var(--pnl-shadow), 0 1px 5px 0 var(--pnl-shadow) !important;
    width: 95% !important;
    overflow: hidden;
}

.icon { font-size: 4rem !important; color: var(--icon_color) !important; }

.icon-red { color: #c23f3f !important; }
.icon-blue { color: #3d5fcc !important; }
.icon-green { color: #44c594 !important; }
.icon-yellow { color: #ccca4d !important; }
.icon-purple { color: #c5479b !important; }
.icon-orange { color: #eca73f !important; }
.icon-black { color: #2c2c2b !important; }

.project {
    background: #f1f3f4 !important;
    background: var(--white) !important;
    margin: 1% !important;
    border-radius: 5px !important;
    padding: 0px !important;
    padding-bottom: 10px !important;
    -webkit-filter: drop-shadow(8px 8px 10px var(--pnl-shadow-dark)) !important;
    filter: drop-shadow(8px 8px 10px var(--pnl-shadow-dark)) !important;
    transform: scale(1);
    transition: 1s ease;
}

.project:hover{
    background: #dcdfe0 !important;
    transform: scale(1.1) !important;
    transition: 0.6s ease !important;
}

.project img {
    border-radius: 5px 5px 0px 0px !important;
    width: 100% !important;
    height: 10rem !important;
    -webkit-filter: grayscale(100%) !important;
    filter: grayscale(100%) !important;
    margin: 0px !important; padding: 0px !important;
}

.project iframe { 
    border-radius: 5px 5px 0px 0px !important;
    max-width: 100% !important;
    -webkit-filter: grayscale(100%) !important;
    filter: grayscale(100%) !important;
}

.project:hover img, .project:hover iframe {   
    -webkit-filter: grayscale(0%) !important;
    filter: grayscale(0%) !important;
}

.project h3,.project p,.project h5,.project h4{ color: var(--dark-font_color) !important; }
.project h3{ text-transform: uppercase !important; }

.project a {
     background: var(--button-color) !important; 
     color: var(--white)!important;
     padding: 5px !important;
     border-radius: 5px !important;
}
.project a:hover {
    background: var(--button-color-hover) !important;
    color: var(--button-color)!important;
 }


.label { margin-left: 0.5rem !important; }

.label>a {
    color: azure !important;
    transition: 1s ease;
    text-decoration: none !important;
}

.label>a:hover {
    color: azure !important;
    font-size: 1.5rem;
    text-decoration: none !important;
}

.label-java { background-color: #c23f3f !important; }

.label-html5 { background-color: #e44d26 !important; }

.label-firebase { background-color: #f5830f !important; }

.label-javascript {
    background-color: #fdd83c !important;
    color: #333333 !important;
}

.label-unity { background-color: #0c0c0c !important; }

.label-lime { background-color: #546825 !important; }

.label-android { background-color: #5cb85c !important; }

.label-rest {
    color: #f2f2f2 !important;
    background-color: #009fc7 !important;
}

.label-ccs { background-color: #2163ae !important; }

.label-angular { background-color: #dd0031 !important; }

.separator-sm { margin-top: 2rem !important; }

.separator { margin-top: 10rem !important; }

.separator-bg { margin-top: 20rem !important; }

.footer {
    padding: 10px !important;
    padding-top: 10px !important;
    background: var(--footer) !important;
    color: #e4e1e1 !important;
    padding-bottom: 15px !important;
}

/* Animations */

.fade-in { animation: fade-in 2s ease !important; }

.slide-left { animation: slide-left 1s ease; }

.scale { animation: scale 1.5s ease-in-out; }

.float-horizontal { animation: float-horizontal 1.5s ease-in-out infinite; }

.float-vertical { animation: float-vertical 1.5s ease-in-out infinite; }

@keyframes slide-left {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

@keyframes slide-right {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@keyframes scale {
    0% { transform: scale(1) }
    100% { transform: scale(1.01); }
}

@keyframes float-horizontal {
    0% { transform: translateX(0%); }
    50% { transform: translateX(10%); }
    100% { transform: translateX(0%); }
}

@keyframes float-vertical {
    0% { transform: translateY(0%); }
    50% { transform: translateY(10%); }
    100% { transform: translateY(0%); }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@media screen and (max-width: 768px) {

      .navbar-toggle,.navbar-header button { 
          background: transparent !important;
          margin-right: 10% !important; padding:0% 2% !important; 
          color: var(--nav_text-color) !important;
          border: none !important;
          border-radius: 5px !important;
          font-size: 1.5rem !important;
        }

    .navbar-toggle:hover,.navbar-header button:hover, .navbar-toggle:focus,.navbar-header button:focus {
        color: var(--nav_text-color_hover) !important;
    }
    
    a { font-size: 1.5rem !important; }

    .navbar-brand,.navbar-brand:hover { font-size: 1.2rem !important; }
      
    .navbar img { width: 13px !important; height: 13px !important; }
    
    .hero-image { margin-left: 2% !important; }
    
    .hero-text { margin-top: 120% !important;  margin-right: 5% !important; }
     
    .hero-text h1 { font-size: 3rem !important; }

    .pnl-bkgd-1 { padding: 0 !important; }

    .project { width: 60% !important; margin-left:20% !important; margin-bottom: 10% !important; }

    .project img {
        -webkit-filter: grayscale(0%) !important;
        filter: grayscale(0%) !important;
    }
    
    .project iframe { 
        -webkit-filter: grayscale(0%) !important;
        filter: grayscale(0%) !important;
    }

}